rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth.token.admin == true;
    }
    function isRegisteredUser() {
      return request.auth.uid != null;
    }
    match /{document=**} {
      allow read, write: if true;
    }
  }
}